<%- include('./partials/header') %>

    <h1>Admin Home Page</h1>
    <a href="/admin/logout">Logout</a>
    <a href="/admin/blog"><h3>Post a Blog</h3></a>
    <a href="/admin/blogs"><h3>Your Blogs</h3></a>

<%- include('./partials/footer') %>