<%- include('./../partials/header') %>

  <div class="container mt-5">
    <!-- Page Header -->
    <h1 class="mb-4">Change Password</h1>

    <!-- Password Change Form -->
    <form id="password_change" class="mb-3">
      <!-- Password Input -->
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input name="password" type="password" class="form-control" id="password" placeholder="Enter new password"
          required />
      </div>

      <!-- Password Changed Message -->
      <h1 class="password_changed text-success"></h1>

      <!-- Error Message -->
      <div class="password error text-danger"></div>

      <!-- Submit Button -->
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- Account Delete Section -->
    <div>
      <button onclick="account_delete()" class="btn btn-danger">Delete Account</button>
    </div>
  </div>

  <script>
    const form = document.getElementById("password_change");
    const passwordError = document.querySelector(".password.error");
    const passwordChanged = document.querySelector('.password_changed');
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      passwordError.textContent = "";
      passwordChanged.textContent = "";
      const data = {
        password: form.password.value,
      };

      const response = await fetch("/admin/update-password", {
        method: "PATCH",
        body: JSON.stringify(data),
        headers: { "Content-Type": "application/json" },
      });
      const res = await response.json();
      if (res.status === "success") {
        passwordChanged.textContent = 'Password Changed Successfully';
      } else {
        console.log("failed");
        if (res.errors.password) {
          passwordError.textContent = res.errors.password;
        }
      }
    });


    function account_delete() {
      fetch("/admin/delete-account", {
        method: "DELETE",
      })
        .then(async resp => {
          const res = await resp.json();
          if (res.status == "success") {
            localStorage.clear();
            location.assign("/admin/logout");
          }
        })
        .catch(err => {
          console.log(err);
        })
    }

  </script>

  <%- include('./../partials/footer') %>