<%- include('./../partials/header') %>

  <h1>Change Password</h1>

  <form id="password_change">
    <input name="password" type="password" />
    <h1 class="password_changed"></h1>
    <div class="password error"></div>
    <button>submit</button>
  </form>

  <div>
    <button onclick="account_delete()">Delete Account</button>
  </div>

  <script>
    const form = document.getElementById("password_change");
    const passwordError = document.querySelector(".password.error");
    const passwordChanged = document.querySelector('.password_changed');
    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      passwordError.textContent = "";
      passwordChanged.textContent = "";
      const data = {
        password: form.password.value,
      };

      const response = await fetch("/admin/update-password", {
        method: "PATCH",
        body: JSON.stringify(data),
        headers: { "Content-Type": "application/json" },
      });
      const res = await response.json();
      if (res.status === "success") {
        passwordChanged.textContent = 'Password Changed Successfully';
      } else {
        console.log("failed");
        if (res.errors.password) {
          passwordError.textContent = res.errors.password;
        }
      }
    });


    function account_delete() {
      fetch("/admin/delete-account", {
        method: "DELETE",
      })
        .then(async resp => {
          const res = await resp.json();
          if (res.status == "success") {
            localStorage.clear();
            location.assign("/admin/logout");
          }
        })
        .catch(err => {
          console.log(err);
        })
    }

  </script>

  <%- include('./../partials/footer') %>