<%- include('./../partials/header') %>

<h1>Change Password</h1>

<form id="password_change">
    <input name="password" type="password" />
<button>submit</button>
</form>

<script>
const form = document.getElementById('password_change');
form.addEventListener('submit', async (e)=>{
    e.preventDefault();
    const data = {
        password: form.password.value
    }

    const response = await fetch('/admin/update-password', {
        method: 'PATCH',
        body: JSON.stringify(data),
        headers:{'Content-Type':'application/json'}
    });
    const res = await response.json();
    if(res.status === 'success'){
        console.log('changes');
        console.log(res.user);
    }else{
        console.log('failed');
    }

})
</script>

<%- include('./../partials/footer') %>
