<%- include('./../partials/header') %>

<h1>Blog post</h1>
<hr />
<form>
  <div class="mb-3">
    <label for="blog_image" class="form-label">Select Blog Image:</label>
    <input class="form-control" name="file1" accept="image/*" type="file" id="blog_image">
  </div>
  <div class="mb-3">
    <label for="title" class="form-label">Title:</label>
    <input type="text" name="title" class="form-control" id="title">
  </div>
  <div class="mb-3">
    <label for="description" class="form-label">Description:</label>
    <textarea class="form-control" name="description" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary w-100">Submit</button>
</form>

<script>
  const form = document.querySelector("form");

  const submitButton = document.querySelector("button[type=submit]");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    submitButton.disabled = true;
    submitButton.textContent = "Loading.....";

    const title = form.title.value;
    const description = form.description.value;
    const img = form.file1.files[0];

    const formData = new FormData();
    formData.append("title", title);
    formData.append("description", description);
    formData.append("blog_img", img);
    try {
      const res = await fetch("/admin/blog", {
        method: "POST",
        body: formData,
      });

      const resp = await res.json();

      if (resp._id) {
        location.assign("/admin/blogs");
      }
    } catch (err) {
      console.log(err);
    }
  });
</script>

<%- include('./../partials/footer') %>
