<%- include('./../partials/header') %>

<h1>Blog post</h1>
<form>
    <div>

    <lable for="title">Title:
    </lable>
    <input type="text" name="title" />
</div>

    <label for="description">Description:</label>
    <div>
    <textarea name="description" rows="4" cols="50"></textarea> 
    </div>
    <button type="submit">Submit</button>
</form>

<script>
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) =>{
        e.preventDefault();
        const title = form.title.value;
        const description = form.description.value;
        const data = {title, description};

        const res = await fetch('/admin/blog', {
            method:'POST',
            body: JSON.stringify(data),
            headers: {'Content-Type':'application/json'}
        });
        const resp = await res.json();
        console.log(resp);
        if(resp._id){
            location.assign('/admin/blogs')
        }
    })
</script>

<%- include('./../partials/footer') %>