<%- include('./../partials/header') %>
<div class="container">
  
  <h1>Reset Password</h1>
<form>
  <div class="mb-3">
    <label for="email" class="form-label">Registered Email</label>
    <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp">
    <div class="error login_email_error"></div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">New Password</label>
    <input type="password" class="form-control" name="password" id="password">
    <div class="error login_password_error"></div>
  </div>
  <button type="submit" class="btn btn-primary w-100">Reset</button>
</form>

<h2 id="password-reset-feedback"></h2>

<br />
<a href="/admin/login"><h3>Login</h3></a>
<br />
</div>

<script>
  const feedback = document.getElementById('password-reset-feedback');
  const form = document.querySelector("form");
  const emailError = document.querySelector(".login_email_error");
  const passwordError = document.querySelector(".login_password_error");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;
    emailError.textContent = "";
    passwordError.textContent = "";

    const data = { email, password };

    fetch("/admin/reset-password", {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json",
      },
    }).then(async (res) => {
      const response = await res.json();
      console.log(response);
      if (response.status == "success") {
        feedback.textContent = "Your password has been changed successfully";
        form.reset();
        // location.assign("/admin/login");
      } else {
        if (response.errors.email) {
          emailError.textContent = response.errors.email;
        }
        if (response.errors.password) {
          passwordError.textContent = response.errors.password;
        }
      }
    });

    console.log("form submitted");
  });
</script>

<%- include('./../partials/footer') %>
