<%- include('./../partials/header') %>

<h1>Reset Password</h1>
<form>
  <lable for="email">Registered Email: </lable>
  <input type="text" name="email" class="email" />
  <div class="login_email_error"></div>
  <label for="password">New Password: </label>
  <input type="password" name="password"/>
  <button type="submit">Reset</button>
  <div class="login_password_error"></div>
</form>

<h2 id="password-reset-feedback"></h2>

<br />
<a href="/admin/login"><h3>Login</h3></a>
<br />

<script>
  const feedback = document.getElementById('password-reset-feedback');
  const form = document.querySelector("form");
  const emailError = document.querySelector(".login_email_error");
  const passwordError = document.querySelector(".login_password_error");

  form.addEventListener("submit", (e) => {
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;
    emailError.textContent = "";
    passwordError.textContent = "";

    const data = { email, password };

    fetch("/admin/reset-password", {
      method: "POST",
      body: JSON.stringify(data),
      headers: {
        "Content-Type": "application/json",
      },
    }).then(async (res) => {
      const response = await res.json();
      console.log(response);
      if (response.status == "success") {
        feedback.textContent = "Your password has been changed successfully";
        form.reset();
        // location.assign("/admin/login");
      } else {
        if (response.errors.email) {
          emailError.textContent = response.errors.email;
        }
        if (response.errors.password) {
          emailError.textContent = response.errors.password;
        }
      }
    });

    console.log("form submitted");
  });
</script>

<%- include('./../partials/footer') %>
