<%- include('partials/header') %>

<hr />
<h1>Author Details: </h1>

<hr />

<h1>Blog title: <%= blog.title %> </h1>
<h2>Blog Desc: <%= blog.description %> </h2>



<%- include('partials/footer') %>
